<div class="login-container">
  <div class="login-box animate__animated animate__fadeInDown">
    <h2 class="text-center" style="color: #12a594">Login</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email" style="color: #2d3748">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          [(ngModel)]="email"
          name="email"
          required
          style="border-color: #12a594"
        />
      </div>
      <div class="form-group">
        <label for="password" style="color: #2d3748">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          [(ngModel)]="password"
          name="password"
          required
          style="border-color: #12a594"
        />
      </div>
      <div class="form-group">
        <label for="role" style="color: #2d3748">Select Role</label>
        <select
          id="role"
          class="form-control"
          [(ngModel)]="role"
          name="role"
          required
          style="border-color: #12a594"
        >
          <option value="customer">Customer</option>
          <option value="restaurant">Restaurant Owner</option>
          <option value="delivery">Delivery Partner</option>
        </select>
      </div>
      <button
        type="submit"
        class="btn btn-primary mt-3"
        style="background-color: #ff6f61; border: none"
      >
        Login
      </button>
    </form>
    <p class="text-danger text-center mt-2" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>
    <p class="text-center mt-3 reg" style="color: #2d3748">
      Don't have an account?
      <a routerLink="/register" (click)="navigate()" style="color: #12a594"
        >Register here</a
      >.
    </p>
  </div>
</div>
